<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="configBuilders"
      type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <configBuilders>
    <builders>
      <add
        name="userSecrets"
        type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=3.0.0.0, Culture=neutral"
        userSecretsId="ac2c7877-8320-4229-adc2-ac50676058b0" />
    </builders>
  </configBuilders>
  <appSettings configBuilders="userSecrets">
    <add key="APPINSIGHTS_CONNECTIONSTRING" value="" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add
          name="ApplicationInsightsTraceListener"
          type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
